.App {
  display: grid;
  width: 100%;
  grid-template-columns: 70px 1fr;
  grid-template-areas: 
    "nav content";
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  padding: 0;
}
nav li {
  list-style: none;
}
nav svg {
  width: 60px;
  height: auto;
  cursor: pointer;
}

div.content {
  grid-area: content;
  border: 1px solid red;
}