:root {
  font-family: 'Courier New', Courier, monospace;
  --main-lightgrey: #e0e0e0;
  --main-border: 1px solid var(--main-lightgrey);
}

.App {
  display: grid;
  width: 100%;
  grid-template-columns: 70px 1fr;
  grid-template-areas: 
    "nav content";
}
