div.content {
    grid-area: content;
    padding: 10px;
    height: 150vh;
    z-index: 80;
}

.synchs-top-pane {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: var(--main-border);
}
.synchs-top-pane-button {
    padding: 7px 30px;
    background-color: #fff;
    border: none;
}
.synchs-top-pane-button:first-child {
    border-right: var(--main-border);
}
.synchs-top-pane-button:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}
.synchs-top-pane-button:focus {
    outline-width: 0;
}

.synchs-body {
    padding: 50px;
}