#sub-navigation {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;
    z-index: 90;
    padding: 0 5px;
    width: auto;
    height: 100vh;
    transition: left .5s;
    background-color: #fff;
}
#sub-navigation ul {
    padding: 0;
}
#sub-navigation li {
    list-style: none;
    margin: 10px 0;
}
#sub-navigation svg {
    width: 60px;
    height: auto;
    cursor: pointer;
}